@import url('https://fonts.font.im/css?family=Lato:700,700i');

.el-card {
  border-radius: 0px;
  border-width: 2px;
  border-color: #455964;
}

.el-card__header {
  height: 40px;
  background-color: white;
  padding: 0px;
  border: 0px;
}

.el-card__body {
  padding: 0px;
}


.title-background {
  position: relative;
  display: inline-block;
  border-top: 35px solid #455964;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 40%;
}

.title-text {
  position: relative;
  transform: translate(10px, -131%);
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  justify-content: center;
  align-content: center;
}